.SteganographyView {
    background-color: #0d1117; // Fondo oscuro de GitHub
    color: #f0f6fc; // Color de texto claro de GitHub
    padding: 40px;
    border-radius: 10px;
    max-width: 600px;
    margin: 40px auto;

    h1 {
        color: #58a6ff; // Color azul claro de GitHub
        text-align: center;
        margin-bottom: 40px;
    }
}