.MediaInput {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .file-upload-label {
        display: inline-block;
        background-color: #300390;
        color: #fff;
        padding: 10px 20px;
        border-radius: 30px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #300390;
            filter: brightness(90%);
        }
    }

    .file-upload-input {
        display: none;
    }

    .file-info {
        margin-top: 10px;
        font-size: 0.9em;
        color: #8b949e;
        text-align: left;
        padding: 10px;
        border: 1px solid #30363d;
        border-radius: 30px;
        background-color: #161b22;
    }
}