.DecryptButton {
    background-color: #2ea44f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    margin-left: 10px;

    &:hover {
        background-color: #218838;
        transform: scale(1.05);
    }
}