.SteganographyVisualization {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #0d1117;
    overflow: hidden;
  
    circle {
      transition: all 0.2s ease-in-out;
    }
  }
  