.SteganographyForm {
    background-color: #0d1117;
    padding: 20px;
    border-radius: 10px;
    color: #f0f6fc;
    width: 100%;
    box-sizing: border-box;

    textarea {
        width: 96%;
        min-height: 200px;
        background-color: #161b22;
        color: #c9d1d9;
        border: 1px solid #30363d;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        resize: vertical;
    }

    p {
        color: #8b949e;
        margin-bottom: 10px;
    }
}

.steganoVisualizationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}