.EncryptButton {
    background-color: #300390;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #300390;
        filter: brightness(90%);
        transform: scale(1.05);
    }
}